@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the YummyCookbook</h1>
    <p>Let's Get Cookin'</p>
    <a asp-controller="Recipes" asp-action="Index" class="btn btn-info">Get started!</a>
</div>
